{% extends 'ClubScoutGlasgow/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About ClubScoutGlasgow
{% endblock %}

{% block body_block %}
    <h1>About</h1>
    <div>
        ClubScoutGlasgow is a website created by students at the University of Glasgow.<br />
        Our goal is to provide anyone in Glasgow with an easy way to find a club that would suit them and their needs.<br />
    </div>
    <div>
        <a href="/">Back to Home</a><br />
        <img src="{% static 'images/ClubImages/hive/hive2.jpeg' %}" alt="jpeg of hive2 didnt load correctly" />
    </div>
{% endblock %}
