<!DOCTYPE html>
{% load staticfiles %}
{% load ClubScoutGlasgow_template_tags %}

<html>
  <head lang="en">

    <title>
      Rango -
      {% block title_block %}
      Club Scout Glasgow
      {% endblock %}
    </title>
  </head>

  <body>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
    <div>

    </div>
    <hr />

    {% block sidebar_block %}
        {% get_club_list %}
    {% endblock %}

    <div>
      <ul>


        {% if user.is_authenticated %}
          <!-- Show these links when the user is logged in -->
          <li><a href="{% url 'ClubScoutGlasgow:logout' %}">Logout</a></li>

          {% if user.is_staff %}
            <a href = "{% url 'ClubScoutGlasgow:add_club' %}"> Add Club </a><br>
            <a href="{% url 'ClubScoutGlasgow:home' %}">Home</a>
            <strong> STAFF </staff>
          {% endif %}
          AUTHENTICATED!

        {% else %}
          <!-- Show these links when the user is NOT logged in -->
          <li><a href = "{% url 'ClubScoutGlasgow:register' %}"> Sign Up!</a></li>
          <li><a href = "{% url 'ClubScoutGlasgow:login' %}"> Login </a></li>
          NOT AUTHENTICATED
        {% endif %}
        <!-- Outside the conditional statements, ALWAYS show -->

      </ul>
    </div>
  </body>
</html>
