<!DOCTYPEhtml>
{% extends 'ClubScoutGlasgow/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if club %}
    {{ club.name }}
  {% else %}
    Unknown Category
  {% endif %}
{% endblock %}


{% block body_block %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="WnfP1Jl3"></script>
    <link href="{%  static 'css/club.css'%}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "{% static 'javascript/CSG.js' %}"></script>
  
    <div class ="club-content">
        <h1>{{ club.name }}</h1>
        <div class="club-photos">
            <h4>Photos of club</h4>
            <br>
            {% if images %}
    
                <div class = "slider-wrap" >
                    <div class = "slider">
                        {% for image in images %}
                            <div class = "img-div" >
                                <img src = "{% static image.url %}" alt = 'image error'/> 
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="prev-btn" onclick="plusSlides(-1)"><</a>
                <a class="next-btn" onclick="plusSlides(1)">></a>
                {% else %}
                <img src="{% static 'images/ClubImages/hive2.jpeg' %}" alt="png of sadness" />
            {% endif %}
        <br>
        </div>
    <div> <br></div>

        <div class="club-combodiv">

        <div class="club-about">
            <h4>About the club</h4>
            <strong>Address</strong>
            {{ club.location }}
            <br>
            <p></p>
            {{ club.about }}
        </div>

        <div class="club-opening-hours">
            <h4>Opening times</h4>
            <p>Opening hours:</p>
            {{ club.openingHours }}
        </div>

        <div class="club-social-media">
            <h4>Social media handles</h4>
            <div class="fb-page" data-href="{{ club.facebook }}" data-tabs="timeline" data-width="650" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="{{ club.facebook }}" class="fb-xfbml-parse-ignore">
                    <a href="{{ club.facebook }}">{{ club.name }}</a>
                </blockquote>
            </div>
            <div><a href="{{ club.instagram }}"><img src="{% static 'images/instagram-icon.png' %}" alt="instagram link" style="position: absolute;top: 50px;right: 50px;width:84px;height:auto;"></a></div>
        </div>

        </div>


        <div class="club-info">
            <h4>What to know about {{ club.name }}</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">What matters on a night out</th>
                  <th scope="col">How {{ club.name }} is doing</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>How many stars ClubScoutGlasgow reviewers give on average</th>
                  <td>{{ club.averageOverallRating }} stars</td>
                </tr>
                <tr>
                  <th>Entry price</th>
                  <td>{{ club.entryPrice }} £</td>
                </tr>
                <tr>
                  <th>Number of rooms</th>
                  <td colspan="2">{{ club.noOfRooms }}</td>
                </tr>
              <tr>
                  <th>Average Time spent in Queue</th>
                  <td colspan="2">{{ club.averageQueueTime }} minutes</td>
                </tr>
              <tr>
                  <th>Drinks Prices on Average</th>
                  <td colspan="2">{{ club.averageDrinksPrice }} £</td>
                </tr>
              <tr>
                  <th>Quality of Safety</th>
                  <td colspan="2">{{ club.averageQualityOfSafety }} stars</td>
                </tr>
              <tr>
                  <th>Staff Friendliness</th>
                  <td colspan="2">{{ club.averageStaffQuality }} stars</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="club-map">
            <h4>{{ club.name }} on Google Maps</h4>
            <iframe src= {{ club.mapSrc }} width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
        </div>

        <div class="club-reviews">
        <style>
            .checked {
              color: orange;
            }
            </style>

        <h4>Top Reviews for {{ club.name }}</h4>
        <!-- Reviews left about club, username/age of reviewer, their comment and rating, reviews can be liked and reviews are sorted by most likes -->
            {% for review in reviews %}

                <strong> User: </strong>{{ review.reviewer }}<br>
                <strong> Age: </strong>{{ review.reviewer.age}}<br>
                <strong> Overall Rating: </strong> 
                <div id = "{{ review.reviewID }}stars"></div>

                <script type = "text/javascript">
                    var counter = "{{ review.overallRating }}";
                    var id = "{{ review.reviewID }}stars";
                    var stars = document.getElementById(id);
                    var star=[5];
                    for(let i = 0; i < 5;i++){
                        star[i] = document.createElement("span");
                        if(i<counter){
                            star[i].className = 'fa fa-star checked';
                        }else{
                            star[i].className = 'fa fa-star';
                        }
                        stars.appendChild(star[i]);
                    }

                </script>
                <strong> Comments: </strong>
                <br>                
                {{ review.additionalComments }}
             <hr>
            {% endfor %}
        </div>

        <div class="club-leave-review">
            {% if user.is_authenticated %}
                {% if club %}
                  <a href = "{% url 'ClubScoutGlasgow:write_review' club.slug %}"> Write a review for {{ club.name }}</a>
                {% else %}
                  The specified club does not exist.
                {% endif %}
            {% else %}
                <a href = "{% url 'ClubScoutGlasgow:signup' %}"> Sign up to write a review for {{ club.name }}</a>
            {% endif %}
        </div>
    </div>



{% endblock %}
