{% extends 'ClubScoutGlasgow/base.html' %}

{% load staticfiles %}

{% block title_block %}
  Home

{% endblock %}

{% block body_block %}

  <h1> Home </h1>

    <main>
      <section class="py-5 text-center container">
          <div class="home-main" style ='width:100%;height:400px;'>
              <div class="main">
                  <div class="module">
                    <header class="home-main-header">
                        <h1>ClubScoutGlasgow</h1>
                        {% if user.is_authenticated %}
                        <div>
                            <br>
                            <p class="home-main-h1">Welcome back {{ user.username }}!</p>
                            <br>
                        </div>
                        {% else %}
                        <br>
                        <div class="home-main-h1">
                            Welcome to ClubScoutGlasgow!
                            <br>
                        </div>
                        {% endif %}
                    </header>
                  </div>

                  <div class="top-padding">
                      <p>
                          {% if user.is_authenticated %}
                              <a href="{% url 'ClubScoutGlasgow:clubs' %}" class="btn btn-primary my-2">Clubs A-Z</a>
                              <a href="{% url 'ClubScoutGlasgow:add_club' %}" class="btn btn-primary my-2">Add A Club</a>
                          {% else %}
                              <a href="{% url 'ClubScoutGlasgow:login' %}" class="btn btn-primary my-2">Login</a>
                              <a href="{% url 'ClubScoutGlasgow:signup' %}" class="btn btn-secondary my-2">Register</a>
                          {% endif %}
                      </p>
                  </div>
              </div>
      </div>
      </section>


    {% if clubs %}
        <h4>Top 5 Clubs With Highest Average Ratings</h4>
      <ul>
      {% for club in clubs %}
        <div class="album py-5 bg-light">

        <div class="container" >
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm" >
                  {%if club.images.all%}
                  <img class = "home-club-image" style ='height:auto;width:100%;' src= "{{MEDIA_URL}}{{club.images.all.0.url}}" alt="image cannot be displayed">

                  {%endif%}
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                </svg>
                <div class="card-body">
                    <strong>  {{ club.name }} </strong>
                    <p class="card-text"> Average Rating:  {{ club.averageOverallRating | floatformat:"1" }}
                    </p>

                    <p class="card-text">{{ club.about }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'ClubScoutGlasgow:show_club' club.slug %}" class="btn btn-sm btn-outline-secondary">View Club Page</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'ClubScoutGlasgow:write_review' club.slug %}" class="btn btn-sm btn-outline-primary">Leave a review for {{ club.name }}</a>
                            {% endif %}
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      {% endfor %}
      </ul>
    {% else %}
        <strong>No clubs</strong>
    {% endif %}


    </main>



{% endblock %}
