{% extends 'ClubScoutGlasgow/base.html' %}

{% load staticfiles %}

{% block title_block %}
  Home

{% endblock %}

{% block body_block %}

  <h1> Home </h1>



    <!--new from bootstrap-->
    <main>

      <section class="py-5 text-center container">
          <div class="home-main">
              <div class="main">
                  <div class="module">
                    <header class="home-main-header">
                        <h1>ClubScoutGlasgow</h1>
                        {% if user.is_authenticated %}
                        <div>
                            <br>
                            <p class="home-main-h1">Welcome back {{ user.username }}!</p>
                            <br>
                        </div>
                        {% else %}
                        <br>
                        <div class="home-main-h1">
                            Welcome to ClubScoutGlasgow!
                            <br>
                        </div>
                        {% endif %}
                    </header>
                  </div>

                  <div class="top-padding">
                      <p>
                          {% if user.is_authenticated %}
                              <a href="{% url 'ClubScoutGlasgow:clubs' %}" class="btn btn-primary my-2">Clubs A-Z</a>
                              <a href="{% url 'ClubScoutGlasgow:add_club' %}" class="btn btn-primary my-2">Add A Club</a>
                          {% else %}
                              <a href="{% url 'ClubScoutGlasgow:login' %}" class="btn btn-primary my-2">Login</a>
                              <a href="{% url 'ClubScoutGlasgow:signup' %}" class="btn btn-secondary my-2">Register</a>
                          {% endif %}
                      </p>
                  </div>
              </div>
      </div>
      </section>


    {% if clubs %}
        <h4>Top 5 Clubs With Highest Average Ratings</h4>
      <ul>
      {% for club in clubs %}
          <div class="album py-5 bg-light">

        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <!-- img src= '' alt="ERROR" / -->
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                    {{ club.name }}
                    <p class="card-text"><strong> Average Rating: </strong> {{ club.averageOverallRating }} </p>
                    <p class="card-text">{{ club.about }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'ClubScoutGlasgow:show_club' club.slug %}" class="btn btn-sm btn-outline-secondary">View Club Page</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'ClubScoutGlasgow:write_review' club.slug %}" class="btn btn-sm btn-outline-primary">Leave a review for {{ club.name }}</a>
                            {% endif %}
                        </div>
                    <small class="text-muted">10 days</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      {% endfor %}
      </ul>
    {% else %}
        <strong>No clubs</strong>
    {% endif %}


    </main>




    {% if images %}
      {% for image in images %}
        <img src= '{% static image.url %}' alt="" />
      {% endfor %}
    {% endif %}


{% endblock %}
