{% extends 'ClubScoutGlasgow/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Sign Up
{% endblock %}

{% block body_block %}
  <h1>Sign Up </h1>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'ClubScoutGlasgow:login' %}">Log in here</a>
    <br/>
    {% else %}
    <form id="user_form" method="post" action="{% url 'ClubScoutGlasgow:signup' %}"
     enctype="multipart/form-data">
     {% csrf_token %}
    <!-- Display each form -->
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <!-- Provide a button to click to submit the form. -->
      <input type="submit" name="submit" value="Register" />
    </form>
  {% endif %}
{% endblock %}
