/* 
 * Images
 */

 /* .slider-wrap{
  position: relative;
   
   width:80%;
   height:300px;
   overflow: hidden;
   border:1px solid black;
 }

 .slider{
   position:relative;
   top:0;
   left:0;
   height:100%;
   width:100%;
   display: flex;
 }

 .slider-item{
   position: relative;
   width: 100%;
   flex:1;
   overflow: hidden;

 }

 .img-div{
   position: relative;
   height:100%;
   width:100%;

 }

 .img-div img{
   width:100%;
   height: 100%;
   object-fit: cover;
  }

  .prev-btn,
  .next-btn{
  background-color: #eee;
  padding: 16px;
  position: absolute;
  top:200px;
  transform: translateY(-50%);
  font-size: 20px;
  box-shadow:0 4px 8px rgba(0, 0, 0, .6);
  z-index: 100;
  cursor: pointer;
  transition:400ms;

  }
  
  .prev-btn:hover,
  .next-btn:hover{
    background:rgb(134, 134, 134);
  }
  .prev-btn{
    left:0;
  }

  .next-btn{
    right:20%;
  } */

  .checked{
    color:orange;
  }

/* Slideshow container */
.slider-wrap{
  position: relative;
   
  width:80%;
  height:500px;
  overflow: hidden;
}
.slider{
  position:relative;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display: flex;
}
/* Hide the images by default */
.img-div {
  position: relative;
  height:100%;
  width:100%;
  display: block;
}

.img-div img{
  width:100%;
  height: 100%;
  object-fit: cover;
 }

/* Next & previous buttons */
.prev-btn, .next-btn {
  background: #eee;
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next-btn {
  right: 20%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.extra{
  height: 100px;
  width: 200px;
  border:sold 1px black;
}
